footer{
    position: static;
    inset: auto auto 0 0;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: white;
    border-top:1px solid #CCCCCC ;
}